﻿<body>


    <div id="selectTheme">
        <menu class="tab">
            <li><a class="tablinks" (click)="openTab('changeTheme','tab1')" id="tab1"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
            <li><a class="tablinks" (click)="openTab('editPicture','tab2'); getAllPictureFromPage()" id="tab2"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
            <li><a class="tablinks" (click)="openTab('htmlElements','tab3'); getHtmlElements()" id="tab3"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
            <li><a class="tablinks" (click)="openTab('download','tab4')" id="tab4"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></li>

        </menu>

        <div id="changeTheme" class="tabcontent">
            <label style="margin-top: 70px;display: block;margin-left: 10px;">NAZWA PROJEKTU:</label>
            <textarea type="text" [(ngModel)]="projectName" style="height: 45px;"></textarea><br>
            <button class="btns btnSave" (click)="changeProjectName()" type="reset">Zapisz</button>

            <label style="display: block;margin-left: 28px;margin-top: 50px;margin-bottom: 7px;">EDYTUJ HTML</label>
            <i class="fa fa-file-code-o" aria-hidden="true" (click)="editHtmlSource()" style="font-size: 50px;margin-left: 60px;"></i>

            <i *ngIf="htmlSource" class="fa fa-times" aria-hidden="true" (click)="closeEditSource()" style="margin-left: 76%;position: fixed;z-index: 10;top: 55px;font-size: 25px;"></i>
            <textarea *ngIf="htmlSource" id="htmlSrcTextarea" [(ngModel)]="htmlSource" style="top: 47px;position: fixed;width: 80%;height: 85%"></textarea>
            <button *ngIf="htmlSource" class="btns btnSave" (click)="saveEditedHtml()" type="reset" style="position: fixed;top: 93%;width: 80%;">ZAPISZ ZMIANY</button>

            <!--<input id="colorPicker" class="themePicker" colorPicker="#c49" style.background="#c49" value="#c49" />-->
            <!--<table id="tabTheme">
                <tr>
                    <td class="lightBlue-white" (click)="changeTheme('lightBlue-white')"></td>
                    <td class="orange-black" (click)="changeTheme('orange-black')"></td>
                    <td class="lightgreen-gray" (click)="changeTheme('lightgreen-gray')"></td>
                </tr>
                <tr>
                    <td class="blue-yellow" (click)="changeTheme('blue-yellow')"></td>
                    <td class="red-green" (click)="changeTheme('red-green')"></td>

                </tr>
            </table>-->

        </div>

        <div id="editPicture" class="tabcontent" style="padding-top: 70px; margin-left: -4px">

            <div *ngIf="selectedImg">
                <label class="custom-file-input file-blue" style="margin-bottom:20px;margin-left:30px;">
                <input #fileInput type="file" accept="image/*">
                </label>
            </div>

            <div *ngIf="selectedImg">
                <img [src]="selectedImg.src" style="width: 100px; height: 100px; margin-left: 32px; margin-top: 2px; opacity: 1" />
            </div>

            <div *ngIf="selectedImg">
                <button (click)="uploadImage()" class="upload" style="border:none;background:#337ab7;">Upload</button>
            </div>

            <div id="allPicture">
                <div background="#333" border-radius="5px" class="slimscroll-content" opacity="0.6" position="right" slimscroll="" width="7px" style="overflow: hidden; position: relative; display: block;">
                    <div class="scrollbar" id="style-1" #container>
                        <div class="force-overflow">
                            <a *ngFor="let img of currentCollection">
                                <img [src]="img.src" style="width: 70px; height: 70px; margin-left: 7px; margin-top: 2px;" (click)="selectedPicture(img)">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div *ngIf="imgResolution" id="resolution">
                {{imgResolution}}
            </div>-->
            <div *ngIf="selectedImg" class="counter">
                <div class="counter__container" style="margin-top:5px;margin-left:2px">
                    <i class="fa fa-text-width" aria-hidden="true" style="color:#a98717;position: relative;top: 2px;"></i>
                    <button (click)="resizeWidthImg('-');" class="counter__button" style="margin-left:2px">-</button>
                    <input type="text" class="counter__input" [(ngModel)]="imgWidth" style="margin-left:-1.4px;">
                    <button (click)="resizeWidthImg('+');" class="counter__button" style="margin-left: -1.1%;">+</button>
                </div>
                <div class="counter__container" style="margin-top:5px;margin-left:2px">
                    <i class="fa fa-text-height" aria-hidden="true" style="color:#a98717;position: relative;top: 1px;"></i>
                    <button (click)="resizeHeightImg('-');" class="counter__button">-</button>
                    <input type="text" class="counter__input" [(ngModel)]="imgHeight" style="margin-left:-1.4px;">
                    <button (click)="resizeHeightImg('+');" class="counter__button" style="margin-left: -1.1%;">+</button>
                </div>
            </div>
        </div>


        <div id="htmlElements" class="tabcontent">
            <select class="select-style" #optionHtmlElement (change)="getHtmlElements(optionHtmlElement.value)" style="margin-top: 30px; outline: none;">
                    <option selected disabled>Wybierz...</option>
                    <option>h1</option>
                    <option>h2</option>
                    <option>h3</option>
                    <option>p</option>
                    <option>a</option>
                </select>

            <div class="select-style" *ngIf="currentCollection" style="margin-top:5px;">
                <select class="select-style" #optionInnerHtml (change)="getSelectedItem(optionInnerHtml.value)"> 
                    <option selected disabled>Wybierz...</option>
                    <option *ngFor="let item of currentCollection" >{{item.innerHTML}}</option>
                </select>
            </div>

            <div *ngIf="currentValueSelectedItem != null">
                <i class="fa fa-font" aria-hidden="true" style="color:#a98717;margin-top:10px"></i>
                <textarea type="text" [(ngModel)]="currentValueSelectedItem"></textarea><br>

                <label for="colorPicker" style="margin-left:20px">Kolor:</label>
                <input id="colorPicker" class="colorPicker" [(colorPicker)]="itemColor" [style.background]="itemColor" [value]="itemColor" />


                <div class="counter">
                    <div class="counter__container" style="margin-top:5px">
                        <i class="fa fa-text-height" aria-hidden="true" style="color:#a98717;position: relative;top: 1px;"></i>
                        <button (click)="changeFontSize('-');" class="counter__button">-</button>
                        <input type="text" class="counter__input" [(ngModel)]="fontSize" style="margin-left:-1.4px;">
                        <button (click)="changeFontSize('+');" class="counter__button">+</button>
                    </div>
                </div>

                <i class="fa fa-arrow-up" aria-hidden="true" style="margin-left: 61px;margin-top:5px;" (click)="changeMargin('marginTop',marginTop,'+')"></i>
                <i class="fa fa-arrow-down" aria-hidden="true" style="margin-top:5px" (click)="changeMargin('marginTop',marginTop,'-')"></i>
                <br>
                <label style="font-size: 13px;margin-left: 65px;">{{marginTop}}</label>
                <br>
                <i class=" fa fa-arrow-left" aria-hidden="true" style="margin-left:10px" (click)="changeMargin('marginLeft',marginLeft,'+')"></i>
                <label style="font-size: 13px;margin-left: 10px;position:relative;top:10px;">{{marginLeft}}</label>
                <label style="font-size: 13px;margin-left: 28px;position:relative;top:10px;">{{marginRight}}</label>
                <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left:9px" (click)="changeMargin('marginRight',marginRight,'+')"></i>
                <br>
                <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left:10px" (click)="changeMargin('marginLeft',marginLeft,'-')"></i>
                <i class="fa fa-arrow-left" aria-hidden="true" style="margin-left:95px" (click)="changeMargin('marginRight',marginRight,'-')"></i>
                <br>
                <label style="font-size: 13px;margin-left: 65px;">{{marginBottom}}</label>
                <br>
                <i class="fa fa-arrow-down" aria-hidden="true" style="margin-left: 61px" (click)="changeMargin('marginBottom',marginBottom,'+')"></i>
                <i class="fa fa-arrow-up" aria-hidden="true" (click)="changeMargin('marginBottom',marginBottom,'-')"></i>
                <br>
            </div>
            <button *ngIf="selectedItem" class="btns btnSave " (click)="saveChanges() " type="reset ">Zapisz</button>
        </div>


        <div id="download" class="tabcontent">
            <ul class="btnDownloadProject2">
                <li class="btnDownloadProject"><a (click)="downloadProject()" class="round green">Pobierz<span class="round">Kliknij aby pobrać swój projekt</span></a></li>
            </ul>
            <div id="loader" style="display: none" class="loader">Loading...</div>
        </div>


        <div id="openPicker">
            <i id="closeOpenAngle" class="fa fa-angle-left" (click)="hiddenShowToolsBox()" aria-hidden="true " style="padding-left: 50px; padding-top: 35px; "></i>
        </div>
    </div>

    <iframe width="100%" height="100%" [src]="selectedItemSrc" id="designedPage" #designedPage style="border:none;position:fixed;left:0px;"></iframe>
    <!--position:absolute-->
</body>