﻿* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

table {
    border-spacing: 6px 6px;
}

img:hover {
    opacity: 1;
    cursor: pointer;
}

img {
    opacity: 0.7;
}

#selectTheme {
    position: fixed;
    display: block;
    /*position: absolute;*/
    width: 190px;
    left: 0px;
    margin-left: 0px;
    top: 264px;
    height: calc(100%);
    float: left;
    z-index: 4;
    transition: all .65s ease;
    background: #2E3144;
    color: #fff;
    padding: 0 10px;
    top: 48px;
    height: 100%;
    z-index: 988;
}

#openPicker {
    position: absolute;
    top: 330px;
    right: -40px;
    margin-top: -18px;
    width: 90px;
    height: 90px;
    background: #2E3144;
    color: #fff;
    padding: 22px 4px 22px 35px;
    cursor: pointer;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    font-size: 19px;
    border-radius: 50%;
    z-index: -1;
    line-height: 46px;
    transition: all .5s ease;
    text-align: center;
}

.lightBlue-white {
    position: relative;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    background-color: lightblue;
    border-radius: 5px;
    top: 70px;
}

.lightBlue-white:before {
    content: '';
    position: absolute;
    left: 20%;
    width: 100%;
    height: 200%;
    background-color: white;
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.orange-black {
    position: relative;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    background-color: #f09a21;
    border-radius: 5px;
    top: 70px;
}

.orange-black:before {
    content: '';
    position: absolute;
    left: 20%;
    width: 100%;
    height: 200%;
    background-color: black;
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.lightgreen-gray {
    position: relative;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    background-color: #4eeea2;
    border-radius: 5px;
    top: 70px;
}

.lightgreen-gray:before {
    content: '';
    position: absolute;
    left: 20%;
    width: 100%;
    height: 200%;
    background-color: #3E3E3E;
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.blue-yellow {
    position: relative;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    background-color: gray;
    border-radius: 5px;
    top: 70px;
}

.blue-yellow:before {
    content: '';
    position: absolute;
    left: 20%;
    width: 100%;
    height: 200%;
    background-color: white;
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.red-green {
    position: relative;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    background-color: red;
    border-radius: 5px;
    top: 70px;
}

.red-green:before {
    content: '';
    position: absolute;
    left: 20%;
    width: 100%;
    height: 200%;
    background-color: lightgreen;
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

menu.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}


/* Float the list items side by side */

menu.tab li {
    float: left;
}


/* Style the links inside the list items */

menu.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


/*.fa-picture-o:hover {
    color: white;
}*/

i:hover {
    color: white;
    cursor: pointer;
}


/* Change background color of links on hover */


/*menu.tab li a:hover {
    background-color: #ddd;
}*/


/* Create an active/current tablink class */

menu.tab li a:focus,
.active {
    background-color: #ccc;
}

li {
    width: 39px;
    height: 35px;
}

.tablinks.active {
    color: white;
}


/*#selectImage {
    margin-left:8px;

}*/

#tabTheme {
    margin-left: -11px
}

#resolution {
    margin-left: 45px;
    color: rgba(241, 237, 243, 0.76);
    font-size: smaller;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-left: 47px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 10px;
}

header {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 25px;
}

#info {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 25px;
}

a {
    color: #074E8C;
}

.scrollbar {
    /*margin-left: 30px;*/
    float: left;
    height: 500px;
    width: 171px;
    /*background: #F5F5F5;*/
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

#wrapper {
    text-align: center;
    width: 500px;
    margin: auto;
}


/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgb(204, 204, 204);
}

#style-1::-webkit-scrollbar {
    width: 12px;
    /*background-color: #F5F5F5;*/
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}


/* -------------------- Select Box http://bavotasan.com/2011/style-select-box-using-only-css/*/

.select-style {
    width: 159px;
    min-height: 29px;
    border-radius: 5px;
    margin-right: 7px;
    cursor: pointer;
    /*margin: 0;
    border: 1px solid #ccc;
    max-width: 169px;
    max-height: 29px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
    margin-right: 7px;
    margin-top: 60px;*/
}

.select-style select {
    border: none;
    outline: none;
    cursor: pointer;
}


/* -------------------- Border Animation*/


/*.animation-examples.one {
    color: #69D2E7;
    outline: 10px dashed #E0E4CC;
    box-shadow: 0 0 0 10px #69D2E7;
    animation: 1s animateBorderOne ease infinite;
}

@keyframes animateBorderOne {
    to {
        outline-color: #69D2E7;
        box-shadow: 0 0 0 10px #E0E4CC;
    }
}*/


/* --------------------*/

textarea {
    height: 129px;
    border-radius: 10px;
    margin: 0px;
    width: 157px;
    /*margin-top: 20px;*/
    outline: none;
}


/* ----button Save-----*/

.btns {
    border: none;
    color: #2E3144;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 159px;
    height: 29px;
    border-radius: 5px;
}

.btnSave {
    background-color: #2E3144;
    color: white;
    border: 2px solid #e7e7e7;
    margin-top: 5px;
    outline: none;
}

.btnSave:hover {
    background-color: #e7e7e7;
    color: black;
    outline: none;
}


/* ---change Font Size---*/

.counter {
    position: relative;
}

.counter__input {
    border: 0;
    border-radius: 5px;
    height: 30px;
    max-width: 50px;
    text-align: center;
    outline: none;
}

.counter__button {
    outline: 0;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 5px;
    background: #0088cc;
    color: #fff;
}


/* ---colorPicker---*/

.colorPicker {
    max-width: 65px;
    border-radius: 5px;
    height: 30px;
    margin-top: 5px;
    margin-left: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

i {
    color: black;
}

.themePicker {
    margin-top: 50px;
    border-radius: 3px;
    border: none;
    height: 30px;
}


/*upload input*/

.custom-file-input {
    display: inline-block;
    position: relative;
    color: #533e00;
}

.custom-file-input input {
    visibility: hidden;
    width: 100px;
}

.custom-file-input:before {
    content: 'Wybierz Plik';
    display: block;
    background: #0088cc;
    /*border: 3px solid #dca602;*/
    border-radius: 5px;
    padding: 5px 0px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
    position: absolute;
    left: 0;
    right: 0;
}

.custom-file-input:hover:before {
    border-color: #0088cc;
}

.custom-file-input:active:before {
    background: #0088cc;
}

.file-blue:before {
    content: 'Wybierz Plik';
    background: #0088cc;
    border-color: #0088cc;
    color: #FFF;
    text-shadow: 1px 1px rgba(000, 000, 000, 0.5);
}

.file-blue:hover:before {
    border-color: #0088cc;
}

.file-blue:active:before {
    background: #0088cc;
}

.upload {
    border: none;
    background: #337ab7;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100px;
    height: 29px;
    border-radius: 5px;
    margin-left: 31px;
    color: white;
}

.upload::hover {
    background: #0088cc;
}

.iframe {
    border: none;
}

button:focus {
    outline: 0;
}


/*buttun download project*/

.btnDownloadProject2 {
    margin: 30px auto;
    text-align: center;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 150px;
}

.btnDownloadProject {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

@-moz-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
    box-sizing: border-box;
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
    box-sizing: border-box;
}

@-o-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
    box-sizing: border-box;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
    box-sizing: border-box;
}

.round {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
    box-sizing: border-box;
}

.round:hover {
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    font-size: 33px;
    padding-top: 38px;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    z-index: 2;
    border-size: 10px;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
    box-sizing: border-box;
    cursor: pointer;
}

a.green {
    background-color: rgba(1, 151, 171, 1);
    color: rgba(0, 63, 71, 1);
    border-color: rgba(0, 63, 71, .2);
}

a.green:hover {
    color: rgba(1, 151, 171, 1);
}

.round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
}

.round span:hover {
    opacity: .85;
    font-size: 16px;
    -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -o-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.green span {
    background: rgba(0, 63, 71, .7);
}


/*loader-----------------------------*/

.loader {
    margin: 100px auto;
    /*font-size: 25px;*/
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}

@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}


/*---------------------------------------------------------------*/

.fa-times:hover {
    color: rgba(0, 0, 0, 0.71);
    font-size: 29px;
}