﻿#navthing {
    /*margin: 0 auto 30px;
    height: 67px;
    margin-left: 50px;*/
    position: absolute;
    right: 10px;
    z-index: 999;
    top: 13px;
}

h2 {
    color: #ecf0f1;
}

fieldset {
    border: none;
}

#login {
    position: absolute;
    width: 350px;
    display: none;
    z-index: 1;
    top: 30px;
    right: 0px;
}

#register {
    position: absolute;
    width: 350px;
    display: none;
    z-index: 998;
    top: 30px;
    right: 0%;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #ECF0F1;
    position: absolute;
    top: -10px;
    right: 24%;
}

.arrow-upReg {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #ECF0F1;
    position: absolute;
    top: -10px;
    right: 6%;
}

.formholder {
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    padding-top: 5px;
}

.formholder input[type="name"],
.formholder input[type="lastName"],
.formholder input[type="confirmPassword"],
.formholder input[type="email"],
.formholder input[type="password"] {
    padding: 7px 5px;
    margin: 10px 0;
    width: 96%;
    display: block;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.formholder input[type="name"]:focus,
.formholder input[type="lastName"]:focus,
.formholder input[type="confirmPassword"]:focus,
.formholder input[type="email"]:focus,
.formholder input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #1abc9c;
}

.formholder input[type="submit"] {
    background: #1abc9c;
    padding: 10px;
    font-size: 20px;
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.formholder input[type="submit"]:hover {
    background: #1bc6a4;
}

.randompad {
    padding: 10px;
}

.green {
    color: #1abc9c;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}

a:hover {
    color: #1abc9c;
    cursor: pointer;
}


/*button login*/

.login {
    background: #1abc9c;
    padding: 10px;
    font-size: 20px;
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.login:hover {
    background: #1bc6a4;
}


/*my project*/

.dropbtn {
    background-color: rgba(76, 175, 80, 0);
    color: white;
    /*padding: 16px;*/
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /*background-color: #3e8e41;*/
}