﻿<!DOCTYPE html>
<html>
<head >
    <!--<script>document.write('<base href="' + document.location + '" />');</script>-->
    <base href="/">
    <title>WebCreator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    @*<script src="~/js/modernizr.custom.js"></script>*@
    
    <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="~/systemjs.config.js"></script>
    <script src="~/app/selectTemplate/carousel3D.js"></script>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>*@
    

    @*<script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/masonry.pkgd.min.js"></script>
    <script src="~/js/dynamics.min.js"></script>
    <script src="~/js/classie.js"></script>
    <script src="~/js/animOnScroll.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/scriptFromPage.js"></script>*@


    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
</head>
<body>
    @RenderBody()

</body>
</html>