﻿<body>
    <img alt="full screen background image" src="app/selectTemplate/img/blueSky.jpg" id="full-screen-background-image" />



    <div>
        <div *ngIf="selectedItemSrc===null" id="carousel">
            <figure id="spinner">
                <img *ngFor="let template of templates" [src]="template.MainPicturePath" (click)="showPage(template.MainFilePath)">
                <!--maksimum 8 bo inaczej nakładają się na siebie https://codepen.io/dudleystorey/pen/kiajB  zrobić tak że wyświtla 8 ukrywa galerie 3d i wyświetla kolejne 8 nowych-->
            </figure>
        </div>
    </div>

    <div *ngIf="selectedItemSrc===null">
        <span style="float: left;font-size: 40px;color: white;font-weight:bold;cursor: pointer;" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
        <span style="float: right;font-size:40px;color: white;font-weight: bold;cursor: pointer;" class="ss-icon" onclick="galleryspin('')">&gt;</span>
    </div>

    <div *ngIf="selectedItemSrc">
        <button class="btnSelectTemplate" (click)="selectTemplate()">WYBIERZ SZABLON</button>
        <i (click)="closeSelectedTemplate()" class="fa fa-times" aria-hidden="true"></i>
        <iframe width="80% " height="1200" [src]="selectedItemSrc"></iframe>
    </div>

</body>