﻿<header style="margin-top: -10px;background: #2e3144;margin-right:-8px;margin-left: -10px; height:50px;">
    <section *ngIf="loggedUser" class="main">
        <div class="wrapper-demo" style="margin-left: 10px;padding-top: 10px;">
            <div (click)="showHideMyProject()" id="wrapper" class="wrapper-dropdown-3 active" tabindex="1">
                <span>Moje projekty</span>
                <ul id="dropdown" class="dropdown" style="display:none">
                    <li *ngFor="let project of projects">
                        <a><i (click)="removeProject(project)" class="fa fa-trash" aria-hidden="true">
                        </i>{{project.ProjectName}}<i  (click)="getProjectFiles(project)" class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right: 10px;margin-top: 1px;"></i></a>
                    </li>
                </ul>
            </div>
            ​</div>
    </section>

    <div id="navthing">
        <div *ngIf="loggedUser===null">
            <a (click)="showHideLoginBox('login')">Zaloguj |</a><a (click)="showHideLoginBox('register')"> Rejestracja</a>
        </div>
        <a *ngIf="loggedUser">Witaj {{loggedUser}} |</a><a *ngIf="loggedUser" (click)="logOut()"> Wyloguj</a>

        <div *ngIf="loggedUser===null">
            <div id="login" style="display:none">
                <div class="arrow-up"></div>
                <div class="formholder">
                    <div class="randompad">
                        <fieldset>
                            <label name="email">Email</label>
                            <input type="email" [(ngModel)]="email" />
                            <label name="password">Hasło</label>
                            <input type="password" [(ngModel)]="password" />
                            <button class="login" (click)="login()">Zaloguj</button>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div id="register" style="display:none">
                <div class="arrow-upReg"></div>
                <div class="formholder">
                    <div class="randompad">
                        <fieldset>
                            <label name="email">Email</label>
                            <input type="email" [(ngModel)]="email" />
                            <label name="name">Imię</label>
                            <input type="name" [(ngModel)]="name" />
                            <label name="lastName">Nazwisko</label>
                            <input type="lastName" [(ngModel)]="lastName" />
                            <label name="password">Hasło</label>
                            <input type="password" [(ngModel)]="password" />
                            <label name="confirmPassword">Potwierdź hasło</label>
                            <input type="password" [(ngModel)]="confirmPassword" />
                            <button class="login" (click)="register()">Zarejestuj</button>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>
<router-outlet></router-outlet>